<div class="restaurant-menu-header">
  <div class="restaurant-menu-header__info">
    <h1 class="restaurant-menu-header__name">{{ name() }}</h1>
    <div class="restaurant-menu-header__actions">
      <button type="button" class="restaurant-menu-header__btn" (click)="toggleQr()">
        📱 Ver QR
      </button>
      <button type="button" class="restaurant-menu-header__profile-link" (click)="editProfile.emit()">Ver perfil</button>
    </div>
  </div>
  @if (description()) {
    <p class="restaurant-menu-header__description">{{ description() }}</p>
  } @else {
    <p class="restaurant-menu-header__description">Gestiona las categorías y platillos del menú</p>
  }
  
  @if (showQr()) {
    <div class="restaurant-menu-header__qr">
      <app-qr-display [restaurantId]="restaurantId()" [restaurantSlug]="restaurantSlug()" />
    </div>
  }
</div>
