.main-layout {
  display: flex;
  min-height: 100vh;
  background: var(--lm-bg);
  flex-direction: column;

  @media (min-width: 769px) {
    flex-direction: row;
  }

  &__content {
    flex: 1;
    min-width: 0;
    overflow: auto;
  }

  &__content-inner {
    min-height: 100%;
  }
}
